{% load static %}
<div id="board-component">
    <h1>{{ current_board.caption }}</h1>
    <div id="table" onmousemove="tableHover(event)" onmouseleave="tableLeave()">
        <div id="categories-container"></div>
        <div id="years-container"></div>
    </div>
</div>