{% load static %}
<div id="categories-component">
    <div id="categories-column">
        <div class="cell"> </div>
        <div class="cell"> </div>
        {% for category in categories %}
        <div class="clickable cell" onclick="openCategoryForm(this, {{ category.id }}, '{{ category.escaped_caption }}')">
            {{ category.caption }}
        </div>
        {% endfor %}
    </div>

    <div class="clickable cell" onclick="openCategoryForm(this, null, '')">
        <span>Додати категорію /</span>
        <span>Разом</span>
    </div>

    <form id="new-category" method="post"
            class="popup-content hidden" onclick="stopEvent()">
        {% csrf_token %}
        <input id="board_id" type="hidden" name="board_id">
        <input id="category_id" type="hidden" name="id">
        <div>
            <input id="caption" type="text" name="caption" autocomplete="off">
            <img class="btn apply" alt="OK"
                src="{% static 'icons/check.png' %}"
                onclick="send(this, '{% url 'finance:category' %}', loadCategories)"/>
        </div>
    </form>
</div>