<div id="{{ year }}" class="year-container">
    <div class="expance-column">
        <div class="clickable cell" onclick="expander_hedder_click(this)">
            {{ year }}
        </div>
        <div class="cell">
            Разом
        </div>
        {% for year_cat in year_categories %}
        <div class="clickable cell">
            {{ year_cat.sum }}
        </div>
        {% endfor %}
    </div>
    {% for month in months %}
    <div class="month-container">
        <div class="expance-column">
            <div class="cell"> </div>
            <div class="cell" onclick="expander_hedder_click(this)">
                {{ month.caption }}
            </div>
            {% for month_cat in month.categories %}
            <div class="clickable cell">
                {{ month_cat.sum }}
            </div>
            {% endfor %}
        </div>
        {% for day in month.days %}
        <div class="expander-column">
            <div class="cell"> </div>
            <div class="cell">
                {{ day.caption }}
            </div>
            {% for day_cat in day.categories %}
            <div class="clickable cell">
                {{ day_cat.sum }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>