{% extends 'general/base.html' %}

{% block body %}
<div class="popup-container">
    <form class="box center" method="post" style="width: fit-content; margin: 0 auto;">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit">
    </form>
</div>
{% endblock body %}