#table {
    display: flex;
}

#categories-container {
    flex: 0 0 150px;
}

#categories-column {
    display: flex;
    flex-direction: column;
}

.year-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 100px;
}

.expance-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 70px;
}

.cell {
    flex: 0 0 25px;
    text-align: center;
    padding-top: 5px;
    min-width: 70px;
}

.day-container:hover, .highligted {
    background-color: var(--clr-bg-300);
}

.month-header {
    flex: 0 0 60px;
    transform: rotate(-90deg);
    left: 20px;
    position: relative;
}

.active-month .month-header {
    flex: 0 0 40px !important;
    transform: rotate(0deg) !important;
    left: 0px !important;
}

.day-container, .total-header {
    display: none;
}

.active-month .total-header {
    display: block !important;
    flex: 0 0 20px;
}

.active-month .day-container {
    display: flex !important;
    flex: 0 0 30px;
    flex-direction: column;
}

.expander-column {
    display: none;
}

.expanded-header > .expander-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 70px;
}

.month-container {
    display: none;
}

.expanded-header > .month-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 60px;
    align-items: center;
}