.tbl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.col {
  flex: 0 0 250px;
}

.col-selected {
  flex: 1 0 400px;
}

.task-row {
  vertical-align: top;
}

.btn {
  color: var(--clr-font);
  background-color: var(--clr-bg-light);
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.form_idle .content_view {
  display: flex;
  flex: 0 0 20px;
  vertical-align: middle;
  align-items: center;
}

.form_idle .content_edit {
  display: none;
}

.form_active .content_view {
  display: none;
}

.form_active .content_edit {
  display: block;
}

.list_header {
  margin: 5px;
  padding: 5px;
}

.list_edit {
  display: flex;
  flex: 0 0 20px;
}

.borderless_box {
  vertical-align: middle;
  align-items: center;
  border-radius: 5px;
  background-color: var(--clr-bg-light);
}

