:root {
    --clr-bg-200: #212121;
    --clr-bg-300: #313131;
    --clr-bg-400: #414141;
    --clr-bg-500: #515151;
    --clr-bg-600: #616161;

    --clr-font: #e2e2e2;

    --clr-green: #4cde4a;
    --clr-red: #de4c4a;
}

body {
    background-color: var(--clr-bg-200);
    color: var(--clr-font);
    text-align: center;
}

#side-bar {
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    border: none;
    background-color: var(--clr-bg-300);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-body {
    margin-left: 70px;
    height: 75vh;
}

.side-bar-btn {
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.floating {
    position: fixed;
}

.clickable:hover {
    cursor: pointer;
}

.box {
    margin: 5px;
    border: 1px solid var(--clr-font);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--clr-bg-300);
    text-align: center;
    vertical-align: middle;
}

.popup-container {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.popup-content {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    border: 1px solid #de4c4a;
    background-color: var(--clr-bg-300);
}

.centered-250 {
    left: 45%;
    width: 250px;
}

input[type=text], textarea {
    width: 72%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: var(--clr-bg-400);
    color: var(--clr-font);
}

input[type=text]:focus, textarea:focus {
    background-color: var(--clr-bg-500);
    outline: none;
}

/* Move to Buttons css  */
.btn {
    color: var(--clr-font);
    background-color: var(--clr-bg-300);
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.apply {
    background-color: var(--clr-green);
    max-width: 20px;
    max-height: 20px;
}

.cancel {
    background-color: var(--clr-red);
}

.btn img {
    display: block;
}
/* Move to Buttons css  */