<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'icons/mantis.png' %}">
        <link rel="stylesheet" href="{% static 'css/general/base.css' %}">
        <meta name="color-scheme" content="dark">
        <script src="{% static 'js/general/page-helper.js' %}"></script>
        <script src="{% static 'js/general/request-helper.js' %}"></script>
        <script src="{% static 'js/general/board-list.js' %}"></script>
        <script>
            var static_finance_board_js = '{% static "js/finance/board.js" %}';
            var static_finance_board_css = "{% static 'css/finance/board.css' %}";
            var statuc_icon_check = "{% static 'icons/check.png' %}";
            var url_general_board = '{% url "general:board" %}';
            var url_finance_category = '{% url "finance:category" %}';
            var url_finance_year = '{% url "finance:year" %}';

            var debug = {{ debugMode }};
        </script>
    </head>

    <body onclick="deselect()" onload="loadBoardList()">
        <div id="side-bar">
            <div>
                <div id="boards"></div>
                {% if user.is_authenticated %}
                <img class="side-bar-btn" alt="Add"
                    src="{% static 'icons/plus.png' %}"
                    onclick="activateById('new-board')">
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" title="Log Out">
                    <img class="side-bar-btn" alt="Exit"
                        src="{% static 'icons/exit.png' %}">
                </a>
                {% else %}
                <a href="{% url 'login' %}" title="{{ user.name }}">
                    <img class="side-bar-btn" alt="LogIn"
                        src="{% static 'icons/login.png' %}">
                </a>
                {% endif %}
                <img class="side-bar-btn" alt="Info"
                    src="{% static 'icons/info.png' %}"
                    onclick="activateById('info')">
            </div>
        </div>
        <div id="info" class="popup-container centered-250 hidden">
            <div class="popup-content">
                <h1>Created by Morik666</h1>
                <p>Source code on: <a href='https://gitlab.com/Morik666/mantis'>GitLab</a></p>
                <p>Icons created by: <a href='https://www.flaticon.com/authors/freepik' title='icons'>Freepik on Flaticon</a></p>
            </div>
        </div>

        {% if user.is_authenticated %}
        <form id="new-board" class="popup-container centered-250 hidden" onclick="stopEvent()">
            {% csrf_token %}
            <input type="hidden" name="id">
            <span id="message" class="hidden"></span>
            <div class="popup-content">
                <h1>Add board</h1>
                <input type="text" name="caption" maxlength="20" placeholder="Caption" autocomplete="off">
                <select name="type">
                    {% for type in board_types %}
                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                    {% endfor %}
                </select><br>
                <img class="btn apply" alt="OK"
                    src="{% static 'icons/check.png' %}"
                    onclick="send(this, '{% url 'general:board' %}', loadBoardList)"/>
                <img class="btn cancel" alt="X"
                    src="{% static 'icons/delete.png' %}"
                    onclick="deselect()"/>
            </div>
        </form>
        {% endif %}
        <div id="main-body">
            <h1>Hello!</h1>
            {% block body %} {% endblock body %}
        </div>
    </body>
</html>