{% load static %}
<div>
    {% for board in boards %}
    {# href="{{ board.get_url }}" #}
    <a onclick="loadBoard({{ board.id }})">
        {% if board.type == 0 %}
        <img class="side-bar-btn" alt="Board" title="{{ board.caption }}"
            src="{% static 'icons/list.png' %}">
        {% elif board.type == 1 %}
        <img class="side-bar-btn" alt="Table"
            src="{% static 'icons/dollar.png' %}">
        {% endif %}
    </a>
    {% endfor %}
</div>